.navbar {
    overflow: hidden;
    background-color: #5e50db;
    top:0px;
    right:0px;
    margin:0px;
    width:100%;
    display:block;
    position:fixed;
    z-index:3;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: #1E6969;
    text-align: center;
    /*padding: 14px 16px;*/
    padding:0px 0px;
    text-decoration: none;
    top:0px;
    right:0px;
    margin:0px;
    /*position:absolute;*/
}

.dropdown {
  position: relative;
  display: inline-block;
}

.icon {
    float: left;
    font-size:16px;
    outline: none;
    color:#ededed;
    padding:14px 16px;
    background-color:inherit;
    min-width:16px;
    margin: 0;
    left:0px;
    border:none;
    position:fixed;
    z-index:3;
    text-align:center;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #ededed;
    padding: 14px 16px;
    background-color: inherit;
    min-width:160px;
    margin: 0;
    cursor:pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #9177ce;
}


.text {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  position: absolute;
  top: 50px; 
}